@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

html {
    height: 100%;
}
body {
    padding: 10px;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 3.5em;
}

.nav-bar {
    display: flex;
    flex-direction: column;
}

.login {
    align-self: flex-end;
}

.container {
    background-color: rgb(240, 240, 240);
    display: flex;
    align-self: center;
    padding: 0;
    border-radius: 15px;
}

.image-bar {
    padding: 0px;
}

img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: -4.5px;
    height: 550px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    align-items: center;
    gap: 1em;
}

.text-1 {
    text-align: center;
    font-size: 38px;
    font-family: "Russo One", sans-serif;
    font-weight: bold;
    background: -webkit-linear-gradient(0deg, #5087a5 0%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-2 {
    font-family: 'ABeeZee', sans-serif;
    font-style: italic;
    font-size: 22px;
}

.form-container {
    padding: 1em 3.5em;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: flex-start;
}

.mand {
    margin-top: -8px;
    font-size: 14px;
    font-style: italic;
    align-self: flex-end;
}

.form-subtext {
    font-family: 'ABeeZee', sans-serif;
    font-size: 18px;
}

form {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.form_element {
    gap: 0.1em;
    display: flex;
    flex-direction: column;
}

.form_element label {
    font-size: 14px;
    font-family: 'ABeeZee', sans-serif;
}

button[type="submit"] {
    margin: auto;
}

.login, button[type="submit"] {
    font-weight: bold;
    font-family: 'ABeeZee', sans-serif;
    padding: 0.8em 1em;
    font-size: 15px;
    border-radius: 6px;
    border: 0px;
    background-color: black;
    color: white;
}

.login:hover, button[type="submit"]:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.796);
    transform: scale(1.05);
    transition: 0.2s;
}

input {
    padding: 3px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #cecfd1;
}

input:focus {
    border: 2px solid rgb(136, 136, 242);
    outline: none;
    box-shadow: 5px 5px 6px rgba(128, 128, 128, 0.524);
}

.error {
    border: 2px solid red;
}

.error:focus {
    border: 2px solid red;
    outline: none;
    box-shadow: 5px 5px 6px rgba(128, 128, 128, 0.524);
}